# compiled output
/dist
/node_modules


output.pdf

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Designing
_docs
_db_schema/tsconfig.json
_db_schema/ormconfig.json

# Env
.env.development
.env
.env*
keys/*

# Cache
.eslintcache


# Redis
*.rdb

# Test pdf, can be removed later
output.pdf
